{% extends "app/base.html" %}

{% block contenido %}
<br>
<br>
<div class="container">
    <header class="my-4">
        <h1 style="color: #eedc76fb;" style=" text-align: center;">FerreMaX</h1>
    </header>
    <br>
    <hr>
    <h1>Lista de Proveedores</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de la Empresa</th>
                <th>Número de Teléfono</th>
                <th>Correo</th>
                <th>Especialidad</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.nombre_empresa }}</td>
                <td>{{ proveedor.numero_telefono }}</td>
                <td>{{ proveedor.correo }}</td>
                <td>{{ proveedor.get_especialidad_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
